.add-button {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    position:absolute;
    transform: rotate(0);
    top: 0px;
    left: 0px;
    color: rgb(247, 201, 158);
}



.add-button-open {
    animation: forwards 1s menu-animation-open;
}

.add-button-close {
    animation: forwards 1s menu-animation-close;
}
/* add food */

.add-food {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: solid rgb(228, 228, 228) 1px;
    position:absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    
}

.add-food i {
    color: rgb(247, 201, 158);
}

.add-food-open {
    animation: forwards 1s food-animation-open;
}

.add-food-close {
    animation: forwards 1s food-animation-close;
}

.add-shopping {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: solid rgb(228, 228, 228) 1px;
    position:absolute;
    top: -10px;
    left: -66px;
    opacity: 0;
}

.add-shopping i {
    color: rgb(247, 201, 158);
}

.shopping-close {
    animation: shopping-animation-close 1s forwards;
}

.shopping-open {
    animation: shopping-animation-open 1s forwards;
}

.add-dinner {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: solid rgb(228, 228, 228) 1px;
    position:absolute;
    top: -10px;
    left: -66px;
    opacity: 0;
}

.add-dinner i {
    color: rgb(247, 201, 158);
}

.dinner-close {
    animation: dinner-animation-close 1s forwards;
}

.dinner-open {
    animation: dinner-animation-open 1s forwards;
}

/* add home */

.add-home {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: solid rgb(228, 228, 228) 1px;
    position:absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.add-home i {
    color: rgb(247, 201, 158);
}

.add-home-open {
    animation: forwards 1s home-animation-open;
}

.add-home-close {
    animation: forwards 1s home-animation-close;
}

.add-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: rotate(0);
    height: 60px;
    width: 60px;
}

.menu-container-open {
    animation: forwards 1s menu-container-open;
}

.menu-container-close {
    animation: forwards 1s menu-container-close;
}

.add-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}



@keyframes menu-animation-open {
    to {
        transform: rotate(225deg);
        color: rgb(220,53,69);
    }
    from {
        transform: rotate(0deg);
        color: rgb(247, 201, 158);
    }
}

@keyframes menu-animation-close {
    to {
        transform: rotate(0deg);
        color: rgb(247, 201, 158);
    }
    from {
        transform: rotate(225deg);
        color: rgb(220,53,69);
    }
}

/* food animations */

@keyframes food-animation-open {
    from {
        opacity: 0;
        top: 0px;
        left: 0px;
        transform: rotate(600deg);
    }
    to {
        top: -66px;
        left: -10px;
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes food-animation-close {
    from {
        top: -66px;
        left: -10px;
        opacity: 1;
        transform: rotate(0deg);
    }
    to {
        top: 0px;
        left: 0px;
        opacity: 0;
        transform: rotate(600deg);
    }
}

@keyframes shopping-animation-close {
    to {
        top: -10px;
        left: -66px;
        opacity: 0;
    }
    from {
        top: -10px;
        left: -132px;
        opacity: 1;
    }
}

@keyframes shopping-animation-open {
    from {
        top: -10px;
        left: -66px;
        opacity: 0;
    }
    to {
        top: -10px;
        left: -132px;
        opacity: 1;
    }
}

@keyframes dinner-animation-close {
    to {
        top: -10px;
        left: -66px;
        opacity: 0;
    }
    from {
        top: -10px;
        left: -196px;
        opacity: 1;
    }
}

@keyframes dinner-animation-open {
    from {
        top: -10px;
        left: -66px;
        opacity: 0;
    }
    to {
        top: -10px;
        left: -196px;
        opacity: 1;
    }
}

/* home animations */

@keyframes home-animation-open {
    from {
        opacity: 0;
        top: 0px;
        left: 0px;
        transform: rotate(600deg);
    }
    to {
        top: -10px;
        left: -66px;
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes home-animation-close {
    from {
        top: -10px;
        left: -66px;
        opacity: 1;
        transform: rotate(0deg);
    }
    to {
        top: 0px;
        left: 0px;
        opacity: 0;
        transform: rotate(600deg);
    }
}

@keyframes menu-container-close {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@keyframes menu-container-open {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}